<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <display-name>Home Library</display-name>

    <servlet>
        <servlet-name>BooksServlet</servlet-name>
        <servlet-class>me.zhukov.homelibrary.servlets.BooksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NewBookServlet</servlet-name>
        <servlet-class>me.zhukov.homelibrary.servlets.NewBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BooksServlet</servlet-name>
        <url-pattern>/json/books</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NewBookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

</web-app>
